<script type="text/javascript">
		$(document).ready(function() {

			$('.section').click(function(e) {
				var id = $(this).data('id');

				if(id)  {
						$.ajax('/profiles/' + id).success(function(html) {
							$('#modalContainer').html(html);	
							$('#myModal').modal('show')
						});
				}
			});
		});
</script>

<div id="modalContainer"></div>

<% @profiles.each_slice(12) do |p_row| %>
	<div class="section_row">
		<% p_row.each do |p| %>
			<% if p != :pillar %>
				<div class="section" style="display: inline" data-id="<%= p.id %>">
					<% if @highlights.include?(p) %>
						<strong><%= p.name %></strong>
					<% else %>
						<%= p.name %>
					<% end %>
				</div>
			<% else %>
				<div class="section" style="display: inline">
					<%= p.to_s %>
				</div>
			<% end %>
		<% end %>
	</div>
<% end %>

<hr/>


<%= form_tag :root, method: 'get', class: 'form-inline' do %>
	<div class="form-group">
		<%= label_tag :query, "연수생 찾기" %>
		<%= text_field_tag :query, params[:query], class: "form-control" %>
	</div>

	<%= submit_tag "Search", class: 'btn btn-primary' %>
<% end %>

<!--
<% if user_signed_in? %>
sign in <%= current_user.email %> 
<%= link_to "Logout", destroy_user_session_path, :method => :delete %>
<% else %>
no user
<%= link_to "Login", new_user_session_path %>
<% end %>
-->
