<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= @profile.name %></h4>
      </div>

      <div class="modal-body">
				<form class="form-horizontal">
				  <div class="form-group">
				    <label class="col-sm-3 control-label"> Email</label>
				    <div class="col-sm-9">
				      <p class="form-control-static"> <%= fa_icon "envelope-o" %> <%= @profile.email %></p>
				    </div>
				  </div>
				  <div class="form-group">
				    <label class="col-sm-3 control-label"> Phone</label>
				    <div class="col-sm-9">
				      <p class="form-control-static"> <%= fa_icon "phone" %> <%= @profile.phone_number %></p>
				    </div>
				  </div>
				  <div class="form-group">
				    <label class="col-sm-3 control-label"> Seat</label>
				    <div class="col-sm-9">
				      <p class="form-control-static"> <%= fa_icon "desktop" %> <%= @profile.seat_number %></p>
				    </div>
				  </div>
				  <div class="form-group">
				    <label class="col-sm-3 control-label"> Facebook</label>
				    <div class="col-sm-9">
				      <p class="form-control-static"> <%= fa_icon "facebook" %> <%= @profile.facebook %></p>
				    </div>
				  </div>
				  <div class="form-group">
				    <label class="col-sm-3 control-label"> Twitter</label>
				    <div class="col-sm-9">
				      <p class="form-control-static"> <%= fa_icon "twitter" %> <%= @profile.twitter %></p>
				    </div>
				  </div>
				  <div class="form-group">
				    <label class="col-sm-3 control-label"> Github</label>
				    <div class="col-sm-9">
				      <p class="form-control-static"> <%= fa_icon "github" %> <%= @profile.github %></p>
				    </div>
				  </div>
				  <div class="form-group">
				    <label class="col-sm-3 control-label"> Blog</label>
				    <div class="col-sm-9">
				      <p class="form-control-static"> <%= fa_icon "rss" %> <%= @profile.blog %></p>
				    </div>
				  </div>
				  <div class="form-group">
				    <label class="col-sm-3 control-label"> Tags</label>
				    <div class="col-sm-9">
				      <p class="form-control-static"> <%= fa_icon "tag" %> <%= @profile.tags.map(&:name).join(", ") %> </p>
				    </div>
				  </div>
				</form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
        <%= link_to "수정", edit_profile_path(@profile), :class => "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
