<script type="text/javascript">
	$("#new_comment").on("ajax:success", function(e, data, status, xhr) {
		//$('#comment_commenter').val('');
		$('#comment_body').val('');
  	//$(".comments").append("<strong>Name:</strong> " + data.commenter + " <strong>Comment:</strong> " + data.body + "<br>");
	}).on("ajax:error", function(e, xhr, status, error) {
		alert('이름은 3글자, 내용은 5글자 이상 입력해 주세요')
	});
</script>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel"><%= @profile.name %></h4>
			</div>

			<div class="modal-body">
				<form class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-3 control-label"> Email</label>
						<div class="col-sm-9">
							<p class="form-control-static"> <%= fa_icon "envelope-o" %> <%= @profile.email %></p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label"> Phone</label>
						<div class="col-sm-9">
							<p class="form-control-static"> <%= fa_icon "phone" %> <%= @profile.phone_number %></p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label"> Seat</label>
						<div class="col-sm-9">
							<p class="form-control-static"> <%= fa_icon "desktop" %> <%= @profile.seat_number %></p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label"> Facebook</label>
						<div class="col-sm-9">
							<p class="form-control-static"> <%= fa_icon "facebook" %> <%= @profile.facebook %></p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label"> Twitter</label>
						<div class="col-sm-9">
							<p class="form-control-static"> <%= fa_icon "twitter" %> <%= @profile.twitter %></p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label"> Github</label>
						<div class="col-sm-9">
							<p class="form-control-static"> <%= fa_icon "github" %> <%= @profile.github %></p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label"> Blog</label>
						<div class="col-sm-9">
							<p class="form-control-static"> <%= fa_icon "rss" %> <%= @profile.blog %></p>
						</div>
					</div>
				</form>

				<div class="form-group">
					<div class="comments">
						<% @profile.comments.each do |comment| %>
							<div class="panel panel-default">
								<div class="panel-heading"><%= fa_icon "user" %> <%= comment.commenter %><span style="float: right"><%= time_ago_in_words(comment.created_at) %></span></div>
								<div class="panel-body">
									<%= comment.body %>
								</div>
							</div>
						<% end %>
					</div>
				</div>

				<%= form_for([@profile, @profile.comments.build], remote: true, :html => {:class => "form-horizontal"}) do |f| %>
					<div class="form-group">
						<%= f.label :name, "이름", :class => "col-sm-2 control-label" %>
						<div class="col-sm-10">
							<%= f.text_field :commenter, :class => "form-control" %>
						</div>
					</div>
					<div class="form-group">
						<%= f.label :Comment, "내용", :class => "col-sm-2 control-label" %>
						<div class="col-sm-10">
							<%= f.text_area :body, :class => "form-control" %>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<%= f.submit "쓰기", :class => "btn btn-default btn-block" %>
						</div>
					</div>
				<% end %>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
				<%= link_to "수정", edit_profile_path(@profile), :class => "btn btn-primary" %>
			</div>
		</div>
	</div>
</div>
