<%= form_for(@profile) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "form-control", :disabled => true %>
  </div>
  <div class="form-group">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :facebook %>
    <%= f.text_field :facebook, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :twitter %>
    <%= f.text_field :twitter, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :github %>
    <%= f.text_field :github, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :blog %>
    <%= f.text_field :blog, :class => "form-control" %>
  </div>

  <div class="text-right">
    <%= link_to "취소", :root, class: 'btn btn-default btn-lg' %>
	  <button type="submit" class="btn btn-primary btn-lg">변경</button>
  </div>
<% end %>
